{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "node": true
  },
  "globals": {
    "process": true
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/comma-spacing": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-extra-non-null-assertion": "warn",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/member-ordering": "warn",
    "@typescript-eslint/no-dupe-class-members": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-extra-semi": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/no-magic-numbers": [
      "warn",
      {
        "ignore": [-1, 0, 1],
        "ignoreArrayIndexes": true,
        "ignoreEnums": true,
        "ignoreNumericLiteralTypes": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-use-before-define": ["warn", "nofunc"],
    "@typescript-eslint/unified-signatures": "warn",
    "@typescript-eslint/no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true
      }
    ],
    "@typescript-eslint/no-useless-constructor": "warn",
    "array-bracket-spacing": ["warn", "never"],
    "class-methods-use-this": [
      "warn",
      {
        "exceptMethods": []
      }
    ],
    "comma-dangle": ["warn", "always-multiline"],
    "default-case": "warn",
    "dot-notation": "warn",
    "eol-last": ["warn", "always"],
    "eqeqeq": ["warn", "always", { "null": "ignore" }],
    "func-style": [
      "warn",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "guard-for-in": "warn",
    "id-length": [
      "warn",
      {
        "exceptions": ["a", "b", "e", "i", "x", "y", "_"],
        "min": 2
      }
    ],
    "indent": "off",
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "max-classes-per-file": "warn",
    "max-depth": ["warn", 3],
    "max-len": [
      "warn",
      {
        "code": 120,
        "comments": 120
      }
    ],
    "max-lines-per-function": [
      "warn",
      {
        "max": 50,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-lines": [
      "warn",
      {
        "max": 300,
        "skipComments": true
      }
    ],
    "no-alert": "warn",
    "no-cond-assign": ["warn", "always"],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "info"
        ]
      }
    ],
    "no-else-return": ["warn", { "allowElseIf": false }],
    "no-extra-bind": "warn",
    "no-extra-boolean-cast": "warn",
    "no-implied-eval": "warn",
    "no-irregular-whitespace": [
      "warn",
      {
        "skipComments": true,
        "skipStrings": true,
        "skipTemplates": true
      }
    ],
    "no-magic-numbers": "off",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "no-param-reassign": ["warn", { "props": false }],
    "no-plusplus": [
      "warn",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-shadow": ["warn", { "hoist": "all" }],
    "no-useless-concat": "warn",
    "no-useless-return": "warn",
    "no-unused-expressions": "off",
    "no-useless-constructor": "off",
    "no-var": "warn",
    "object-curly-spacing": ["warn", "always"],
    "object-shorthand": [
      "warn",
      "always",
      {
        "ignoreConstructors": false,
        "avoidQuotes": true
      }
    ],
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any",    "prev": "directive", "next": "directive" }
    ],
    "prefer-arrow-callback": [
      "warn",
      {
        "allowNamedFunctions": false,
        "allowUnboundThis": true
      }
    ],
    "prefer-const": [
      "warn",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": true
      }
    ],
    "prefer-destructuring": [
      "warn",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "quotes": ["warn", "double"],
    "radix": "warn",
    "react/display-name": "off",
    "react/prop-types": "off",
    "semi": ["warn", "always"],
    "spaced-comment": [
      "warn",
      "always",
      {
        "exceptions": ["-", "+"]
      }
    ],
    "yoda": "warn"
  },
  "overrides": [
    {
      "files": ["src/**/*.tsx"],
      "rules": {
        "max-lines-per-function": [
          "warn",
          {
            "max": 100,
            "skipBlankLines": true,
            "skipComments": true
          }
        ]
      }
    }
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
